@model Venta2.Models.cliente


<h2>Ficha Cliente</h2>

<hr />

<div class="dl-horizontal">
    <label>Rut</label>
    <span>@Model.Rut</span>
</div>

<div class="dl-horizontal">
    <label>Nombre</label>
    <span>@Model.Nombre</span>
</div>
<div class="dl-horizontal">
    <label>Apellido</label>
    <span>@Model.Apellido</span>
</div>
<div class="dl-horizontal">
    <label>Tipo cliente</label>
    <span>@Model.Tipo_Cliente</span>
</div>


